.container{
background-color: #e9d9c1;
}



.container_two {
    /* background-color: red; */
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.blocs {
    /* background-color: green; */
    height: 80vh;
    width: 120vh;
    display: flex;
    gap: 2vh;
}

.bloc_left {
    /* background-color: blue; */
    width: 50%;
    height: 100%;
}

.bloc_right {
    /* background-color: yellow; */
    width: 50%;
    height: 100%;
    gap: 3vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.commands {
  background-image: url('/features/command.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
}


.custom {
    background-image: url('/features/custom.png');
    background-size: cover;
    height: 50%;
    width: 100%;
    border-radius: 2vh;
}

.offre {
    background-image: url('/features/offre.png');
    background-size: cover;
    height: 50%;
    width: 100%;
    border-radius: 2vh;
}

.container_three {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.container_card {
    display: flex;
    justify-content: center;
    gap: 2vh;
    width: 120vh;

}
.card {
    height: 40vh;
    width: 50vh;
    border-radius: 1vh;
}
.score{
    background-image: url('/features/score.png') ;
    background-size: cover;
}
.price{
    background-image: url('/features/prix.png') ;
    background-size: cover;
}
.edenred{
    background-image: url('/features/edenred.png') ;
    background-size: cover;
}